In [1]:
#import dependencies
import pandas as pd
import requests
import gmaps

#import gmaps API key
from config import g_key

In [2]:
# Store previous CSV for DF
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Korem,ET,2021-12-16 05:18:20,12.5058,39.5228,55.29,59,9,2.66
1,1,Gigmoto,PH,2021-12-16 05:18:20,13.7796,124.3900,80.91,89,96,19.95
2,2,Samarai,PG,2021-12-16 05:18:21,-10.6167,150.6667,82.47,74,100,1.43
3,3,Svetlyy,RU,2021-12-16 05:18:21,54.6750,20.1347,46.45,95,100,18.41
4,4,Avarua,CK,2021-12-16 05:18:22,-21.2078,-159.7750,80.65,83,48,9.22

In [3]:
#confirm data is float int
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to current API key
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
#heatmap of max temperatures
#coordinates
locations = city_data_df[['Lat', 'Lng']]
#max temperature
max_temp = city_data_df["Max Temp"]
#initiating fig variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#initiating heatlayer variable with coordinates and max temp
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False,
                                 max_intensity=300, point_radius=4)
#Add heatmap layer
fig.add_layer(heat_layer)
#Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#Using map api to show heatmap for humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call figure to show graph
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#Heatmap for cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call figure to show graph
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#Ask customer to add a min/max temp
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
#Filter dataset to find cities that fit criteria and show pref cities
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Gigmoto,PH,2021-12-16 05:18:20,13.7796,124.3900,80.91,89,96,19.95
2,2,Samarai,PG,2021-12-16 05:18:21,-10.6167,150.6667,82.47,74,100,1.43
4,4,Avarua,CK,2021-12-16 05:18:22,-21.2078,-159.7750,80.65,83,48,9.22
5,5,Faanui,PF,2021-12-16 05:18:22,-16.4833,-151.7500,81.03,76,23,14.25
6,6,Saint-Philippe,RE,2021-12-16 05:18:22,-21.3585,55.7679,83.79,77,24,11.77
12,12,Tautira,PF,2021-12-16 05:18:25,-17.7333,-149.1500,84.22,78,57,13.71
16,16,Kloulklubed,PW,2021-12-16 05:18:26,7.0419,134.2556,82.90,74,98,7.49
26,26,Atuona,PF,2021-12-16 05:18:30,-9.8000,-139.0333,77.94,75,63,15.19
30,30,Tra Vinh,VN,2021-12-16 05:18:31,9.9347,106.3453,88.25,55,59,10.13
33,33,Dingle,PH,2021-12-16 05:18:32,10.9995,122.6711,81.16,83,100,17.22

In [12]:
#Showing only rows with null values
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
#Showing only rows with values
preferred_cities_df.notnull().sum()

City_ID       152
City          152
Country       152
Date          152
Lat           152
Lng           152
Max Temp      152
Humidity      152
Cloudiness    152
Wind Speed    152
dtype: int64

In [14]:
#Showing total row values
preferred_cities_df.count()

City_ID       152
City          152
Country       152
Date          152
Lat           152
Lng           152
Max Temp      152
Humidity      152
Cloudiness    152
Wind Speed    152
dtype: int64

In [15]:
#Create hoteldf showing desired info for first 10 results in preferred cities
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1          Gigmoto      PH     80.91  13.7796  124.3900
2          Samarai      PG     82.47 -10.6167  150.6667
4           Avarua      CK     80.65 -21.2078 -159.7750
5           Faanui      PF     81.03 -16.4833 -151.7500
6   Saint-Philippe      RE     83.79 -21.3585   55.7679
12         Tautira      PF     84.22 -17.7333 -149.1500
16     Kloulklubed      PW     82.90   7.0419  134.2556
26          Atuona      PF     77.94  -9.8000 -139.0333
30        Tra Vinh      VN     88.25   9.9347  106.3453
33          Dingle      PH     81.16  10.9995  122.6711

In [ ]:
#setting parameters to search for hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [ ]:
#Iterate through the DF
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

In [22]:
#Grab the first hotel from results and store name using "try except"
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

Hotel not found... skipping.

In [23]:
#Add heatmap of temperature for vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call figure to show graph
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
#Adding marker locations to vacation spots graph
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
#Info box template for pop up markers
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row using iterrows()
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
#Add heatmap of temp for vacation spots and pop-up marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#Call figure
fig

Figure(layout=FigureLayout(height='420px'))